/**
 * Applies theme-specific styles.
 * @param {Rules}    @darkRules  - Styles to apply when `.theme-dark` is present
 * @param {Rules}    @lightRules - Styles to apply when `.theme-light` is present
 */
.appTheme(@darkRules, @lightRules) {
    // Dark theme selectors
    @scope (.theme-dark) to (.themed) {
        .application.daggerheart :scope,
        :scope.application.daggerheart,
        .application.daggerheart {
            @darkRules();
        }
    }

    // Light theme selectors
    @scope (.theme-light) to (.themed) {
        .application.daggerheart :scope,
        :scope.application.daggerheart,
        .application.daggerheart {    
            @lightRules();
        }
    }
}

/**
 * Apply a style to sidebar titles.
 */
.section-title() {
    display: flex;
    gap: 15px;
    align-items: center;

    h3 {
        font-size: var(--font-size-20);
        white-space: nowrap;
    }
}

/**
 * Apply default item list style.
 * @param {Length} @gap - The vertical spacing between elements (e.g., 10px, 1rem)
 */
.column-list(@gap: 10px) {
    display: flex;
    flex-direction: column;
    gap: @gap;
    align-items: center;
}

// A simple ease-out mask
.smooth-gradient-ease-out(@param, @to, @destination, @length) {
    @{param}+: linear-gradient(
        @to,
        transparent 0%,
        rgb(from @destination r g b / ~"calc(alpha * 0.013)") calc(0.008 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.049)") calc(0.029 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.104)") calc(0.064 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.259)") calc(0.166 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.45)") calc(0.304 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.741)") calc(0.554 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.825)") calc(0.644 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.896)") calc(0.735 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.951)") calc(0.825 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.987)") calc(0.914 * @length),
        @destination @length
    );
}

/**
 * A simple ease in and out mask.
 * @param - the parameter to add to
 * @param - direction, such as "to top"
 * @destination - the color at the destination. The origin is always transparent
 * @length - the value at the destination
 */
.smooth-gradient-ease-in-out(@param, @to, @destination, @length: 100%) {
    @{param}+: linear-gradient(
        @to,
        transparent 0%,
        rgb(from @destination r g b / ~"calc(alpha * 0.013)") calc(0.081 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.049)") calc(0.155 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.104)") calc(0.225 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.259)") calc(0.353 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.45)") calc(0.471 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.741)") calc(0.647 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.825)") calc(0.71 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.896)") calc(0.775 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.951)") calc(0.845 * @length),
        rgb(from @destination r g b / ~"calc(alpha * 0.987)") calc(0.914 * @length),
        @destination @length
    );
}

// Scroll shadows, but only if the browser supports. At the time of writing, this doesn't work on firefox
@supports ((animation-timeline: scroll()) and (animation-range: 0% 100%)) {
    @property --fade-start {
        syntax: "<length>";
        inherits: false;
        initial-value: 0;
    }

    @property --fade-end {
        syntax: "<length>";
        inherits: false;
        initial-value: 0;
    }

    @keyframes scrollfade {
        0% {
            --fade-start: 0;
        }
        10%, 100% {
            --fade-start: 14px;
        }
        0%, 90% {
            --fade-end: 14px;
        }
        100% {
            --fade-end: 0;
        }
    }
}

.with-scroll-shadows() {
    animation: scrollfade;
    animation-timeline: --scrollfade;
    animation-range: entry 0% exit 100%;
    scroll-timeline: --scrollfade y;
    mask-image: linear-gradient(
        0deg, 
        transparent 0%, 
        black var(--fade-end), 
        black calc(100% - var(--fade-start)), 
        transparent 100%
    );
}

.stable-scroll-container() {
    overflow-y: auto;
    scrollbar-gutter: stable;
    .with-scroll-shadows();
}

/** Typography stylings for most longform text, usually item descriptions and prosemirror blocks */
.typography() {
    --paragraph-spacing: 0.5em;

    h1 {
        font-size: var(--font-size-32);
    }
    h2 {
        font-size: var(--font-size-28);
        font-weight: 600;
    }
    h3 {
        font-size: var(--font-size-20);
        font-weight: 600;
    }
    h4 {
        font-size: var(--font-size-16);
        color: light-dark(@dark, @beige);
        font-weight: 600;
    }

    p {
        margin: var(--paragraph-spacing) 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    ul,
    ol {
        margin: var(--paragraph-spacing) 0;
        padding: 0 0 0 1.25rem;

        li {
            margin-bottom: var(--paragraph-spacing);
            p {
                margin: 0;
            }
        }
    }

    ul {
        list-style: disc;
    }

    hr {
        --off-color: color-mix(in srgb, @color-text-subtle, transparent 50%);
        --hr-gradient: linear-gradient(to right, var(--off-color), @color-text-subtle, var(--off-color));
        height: 1px;
        margin: 0.5rem 0;
    }

    .item-description-inner-container {
        > p:first-of-type {
            display: inline;
        }
    }

    secret-block:not(.embed secret-block) {
        display: block;

        /** A buffer to make the hover behavior work a bit better. The bottom in the button needs to compensate */
        @buffer: 8px;
        margin-top: -@buffer;
        padding-top: @buffer;

        button.reveal {
            --button-size: 1rem;
            height: var(--button-size);
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            width: min-content;
            padding: 1px 8px 0 8px;
            bottom: calc(100% - 0.4375rem - 1px);
            
            background-color: var(--dh-window-button-color-bg); // todo: find a better var name
            border-color: var(--color-secret-border);
            color: var(--dh-window-button-color-text);
            font-size: var(--font-size-10);
            user-select: none;
            text-transform: uppercase;
            white-space: nowrap;

            visibility: hidden;
        }

        &:hover button.reveal {
            visibility: visible;
        }
    }

    /** 
     * The element inside a secret-block. 
     * This is separate since during prosemirror editing, the secret-block container does not exist.
     */
    section.secret:not(.embed section.secret) {
        --color-secret-bg: @red-10;
        --color-revealed-bg: @green-10;
        position: relative;
        padding: 0;
        p {
            margin: 0.5rem 0;
        }
    }
    
    .features .feature {
        margin-top: 0.5em;
    }

    button:not(:first-child:last-child) {
        padding: 0;
    }
}

/** More card like typography styles, minus font. Some of these may become part of dh-typography later */
.card-typography() {
    ul, ol {
        margin: 0.5em 0;
        padding-left: 0.60em;
        ::marker {
            content: "• ";
            font-weight: 700;
        }
    }
}