@import '../../../utils/colors.less';
@import '../../../utils/fonts.less';

.application.sheet.daggerheart.actor.dh-style.companion {
    .companion-header-sheet {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        .profile {
            height: 235px;
            cursor: pointer;
            .smooth-gradient-ease-in-out(mask-image, to top, black, 2.25rem);
        }

        .actor-name {
            display: flex;
            align-items: center;
            position: relative;
            top: -30px;
            gap: 20px;
            padding: 0 20px;
            margin-bottom: -30px;

            input[type='text'] {
                backdrop-filter: none;
                border: none;
                font-family: @font-title;
                font-size: var(--font-size-24);
                outline: 2px solid transparent;
                box-shadow: unset;                
                text-shadow: 0 0 4px @color-text-shadow-contrast, 0 0 8px @color-text-shadow-contrast, 0 0 14px @color-text-shadow-contrast;
                
                height: 2rem;
                text-align: center;
                transition: all 0.3s ease;

                &:hover {
                    outline: 2px solid @color-border;
                }
            }
        }

        .resource-section {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .status-section {
            display: flex;
            gap: 5px;
            justify-content: center;

            &.pip-display {
                width: 100%;
                justify-content: space-around;
            }

            .status-number {
                display: flex;
                flex-direction: column;
                align-items: center;

                .status-value {
                    position: relative;
                    display: flex;
                    width: 50px;
                    height: 40px;
                    border: 1px solid @color-border;
                    border-bottom: none;
                    border-radius: 6px 6px 0 0;
                    padding: 0 6px;
                    font-size: 1.5rem;
                    align-items: center;
                    justify-content: center;
                    background: light-dark(transparent, @dark-blue);
                    z-index: 2;

                    &.armor-slots {
                        width: 80px;
                        height: 30px;
                    }
                }

                .status-label {
                    padding: 2px 10px;
                    width: auto;
                    min-width: 100%;
                    border-radius: 3px;
                    background: light-dark(@dark-blue, @golden);

                    h4 {
                        font-weight: bold;
                        text-align: center;
                        line-height: 18px;
                        font-size: var(--font-size-12);
                        color: light-dark(@beige, @dark-blue);
                        white-space: nowrap;
                    }
                }
            }

            .level-div {
                white-space: nowrap;
                display: flex;
                justify-content: end;

                .label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4px;

                    .input-section {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                }

                input {
                    width: 40px;
                    padding: 0;
                    text-align: center;
                    border: 0;
                }

                .level-button {
                    color: light-dark(@dark, @beige);
                    font-size: var(--font-size-18);
                    line-height: 1;
                    min-height: unset;
                    height: min-content;
                    padding: 4px;
                    font-family: 'Cinzel', serif;
                    margin: 0;
                    font-weight: normal;
                    border-color: light-dark(@dark-blue, @golden);
                    background-color: light-dark(transparent, @deep-black);

                    &:hover {
                        background-image: none;
                        background-color: var(--color-warm-2);
                        filter: drop-shadow(0 0 3px lightgray);
                    }
                }
            }
        }

        .companion-navigation {
            width: 100%;
            padding: 0 10px;
        }
    }
}
